.container-main-Investors {
    background-size: 60%;
    background-repeat: no-repeat;
    background-image: url('../../../assets/imgTimeIsMoney/materik.svg');
    background-position-x: 100%;
}

.container-main-Investors h1 {
    margin-left: 60px;
    font-size: 40px;
}

.container-clients-investor {
    position: relative;
    display: flex;
}

.container-client-1 {
    margin-left: 26px;
    width: 500px;
    background-color: #ffff;
    border: 1px solid #eee;
    border-radius: 25px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

.subtitle{
    margin: 20px 0 0 60px;
}

li{
    margin: 10px;
}

li::marker{
    color: #00B2F4;
    padding-right: 10px;
    text-align: center;
}

.quantity-clients{
    position: relative;
    margin-top: 270px;
    margin-left: 130px;
}

.quantity-clients p{
    margin: 0;
    display: flex;
    justify-content: center;
}

.statistic-result{
    position: absolute;
    top: -50px;
    left: 0;
    margin-left: 91px;
}

.statistic-result h2{
    font-size: 50px;
    color: #00B2F4;
}

.statistic-result img{
    position: absolute;
    left: -20px;
    top: -10px;
    height: 60px;
}

.investors_logo{
    position: absolute;
    top: 0px;
    right: 50px;
    height: 70px;
}

.container-client-2{
    display: flex;
    flex-direction: column;
}

.container-client-2 h1{
    margin-left: 60px;
    margin-top: 160px;
    font-size: 40px;
}

.business-model{
    border: 1px solid #eee;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    margin-left: 26px;
    width: 433px;
    padding-left: 24px;
    border-radius: 15px;
}

.business-model img{
    height: 100px;
    left: 377px;
    top: -49px;
    margin-bottom: -70px;
    position: relative;
    z-index: 1;
}

.business-model p{
    margin: 0;
}

.business-model span{
    margin-top: 10px;
    color: #00B2F4;
    font-size: 40px;
}

.business-model button{
    margin: 20px 0 20px 5%;
    width: 70%;
    height: 40px;
    background-color: #00B2F4;
    border-radius: 30px;
    border: none;
    font-size: 22px;
    color: #eee;
}

.container-client-3{
    display: flex;
    justify-content: start;
}

.container-client-3 img:nth-child(2n){
    margin: 55px 80px 0 40px;
    height: 15%;
    width: 5px;
    transform: rotate(90deg);
}

.container_sales span{
    color: #00B2F4;
    font-size: 40px;
}

.container-client-3 div img{
    position: relative;
    left: 40px;
    top: 70px;
    height: 80px;
}

.container-client-3 p{
    margin: 10px 0 0 65px;
    font-size: 25px
}

.client3-condition{
    margin: 20px 0 0 60px;
    font-style: italic;
}

.client3-condition span{
    color: #00B2F4;
    font-size: 40px;
}

.client3-condition a{
    color: #00B2F4;
}

.container-client-3 h2{
    font-size: 35px;
    margin: 0;
    margin-left: 70px;
    margin-top: 40px;
    color: #00B2F4;
}

.container-client-4-content {
    display: flex;
    justify-content: space-around;
}

.client4-content {
    display: flex;
    flex-direction: column;
}

.container-client-4-content img {
    margin: 50px 0 0 -170px;
    height: 150px;
}

.container-client-4-footer {
    display: flex;
    flex-direction: row;
}

.client-4-footer-container {
    margin: 30px 0 0 20px;
    width: 250px;
    min-height: 130px;
    border: 1px solid #eee;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.client-4-footer-container p{
    padding: 10px 0px 10px 15px;
}

.client-header{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.client-header img{
    margin: 0 10px 0 10px;
    width: 70px;
}

.container-client-5{
    margin-top: 80px;
}

.container-client5-content,
.container-client-5-icon{
    display: flex;
}

.container-client-5-icon p{
    margin: 0;
    color: #00B2F4;
    cursor: pointer;
}

.content-block{
    margin: 0 auto;
}

.difference {
    margin: 5px;
    display: flex;
}

.container-client-5-icon img{
    height: 85px;
    margin-right: 10px;
}

.container-client-5-heder p{
    margin: 0;
    color: #00B2F4
}

.client-5-content-container{
    width: 100%;
    padding: 20px;
    border: 1px solid #eee;
    box-shadow: 0 -10px 17px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-bottom: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.client-5-content-container p{
    margin: 5px;
}

.client-5-content-container img{
    margin-top: 10px;
    height: 35px;
}

.container-client-6 {
    margin-top: 200px;
}

.client-6-conteiner1 {
    position: relative;
    margin: 30px 0 0 60px;
    width: 500px;
    height: auto;
    padding: 15px;
    border: 1px solid #eee;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.client-6-conteiner1 img {
    position: absolute;
    left: 445px;
    top: -49px;
    height: 100px;
}

.client-6-block1 {
    display: flex;
}

.client-6-block1 p {
    text-align: justify;
    color: #00B2F4
}

.client-6-block1 h1 {
    font-size: 83px;
    color: #00B2F4;
}

.client-6-footer {
    margin: 30px 0 0 70px;
}

.container-client-6-footer {
    display: flex;
    flex-direction: row;
}

.client-6-conteiner2 {
    margin: 5px 0 0 20px;
    width: 40%;
    padding: 10px;
    min-height: 130px;
    border: 1px solid #eee;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.client-6-conteiner1 h1,
.client-6-conteiner2 h1 {
    margin: 45px 0 0 5px;
}

.client-6-conteiner1 p .client-6-conteiner2 p {
    margin: 20px 15px 0 15px;
}

.container-client-7 {
    margin-top: 200px;
}

.container-client-7-content{
    position: relative;  
    width: 100%; 
    display: flex;
    justify-content: start;
}

.container-client-7-content img:first-child {
    position: absolute;
    left: 580px;
    top: 60px;
    height: 80px;
}

.client-7-content-block1 { 
    margin: 30px 0 100px 60px;
    width: 550px;
    padding: 45px;
    border: 1px solid #eee;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.client-7-content-block1 span {
    color: #00B2F4;
}

.client-7-content-block2 {
    margin-top: 15px;
    margin-left: 40px;
}

.client-7-content-block2 img {
    position: initial;
    height: 450px;
}

.client-7-content-block2 p {
    margin: 0;
    text-align: center;
    font-size: 16px;
    margin-left: 5px;
}

.client-7-content-block2 span {
    width: 50px;
    margin:17px 0 0 10px;
    display: flex;
    color: #fff;
    border-top: 3px solid #00B2F4;
}

.client-7-content-block2-textBootom {
    display: flex;
    justify-content: center;
}

.container-client-8-content{
    display: flex;
    justify-content: space-around;
}

.container-client-8 {
    margin-top: 150px;
    margin-left: 25px;
}

.client-8-content-block1 {
    margin-top: 40px;
    margin-left: 50px;
}

.client-8-content-block1-men {
    height: 200px;
}

.container-client-8 h2 {
    font-weight: 100;
}

.container-client-8 p {
    font-size: 23px;
}

.ellipse {
    position: relative;
    top: -15px;
    left: -50%;
    height: 230px;
}

.ellipse2 {
    position: relative;
    left: 16px;
    top: 38px;
    height: 202px;
}

@media screen and (min-width: 1700px) and (max-width: 2400px) and (max-device-width: 2400px){
    .container-client-1 *,
    .client4-content * {
        font-size: 28px;
    }

    .investors_logo{
        position: absolute;
        top: 0px;
        right: 50px;
        height: 130px;
    }

    .container-main-Investors h1{
        margin: 60px 70px;
        line-height: 70px;
        font-size: 65px;
    }

    .container-client-1{
        margin-left: 70px;
        max-width: 400px;
        padding: 40px 0 40px 40px;
    }

    .container-client-1 *{
        line-height: 35px;
    }
    
    li{
        margin: 15px 10px;
    }

    .statistic-result{
        position: absolute;
        top: -90px;
        left: 50px;
        margin-left: 91px;
    }
    
    .statistic-result h2 {
        font-size: 80px;
        width: 300px;
    }
    
    .statistic-result img {
        position: absolute;
        left: -50px;
        top: -40px;
        height: 130px;
    }

    .business-model{
        margin-left: 70px;
        width: 733px;
        height: auto;
        padding: 0 20px 20px 20px;
        box-sizing: border-box;
    }
    
    .business-model img{
        left: 620px;
        top: -60px;
        height: 140px;
    }

    .business-model span{
        position: relative;
        top: 5px;
        left: -5px;
    }

    .business-model button{
        margin: 20px 0;
        width: 50%;
    }

    .container_sales{
        margin-left: 50px;
    }

    .container-client-3 img:nth-child(2n){
        margin: 15px 100px 0 80px;
        height: 200px;
        width: 8px;
        transform: rotate(90deg); 
    }

    .container-client-3 h2{
        font-size: 60px;
    }

    .container-client-3 p{
        font-size: 28px;
    }

    .client3-condition{
        margin: 60px 0 40px 60px;
    }

    .subtitle{
        margin: 10px 0px 0 80px;
        font-size: 30px;
    }

    .client-header img {
        margin: 0 40px 0 10px;
        width: 130px;
    }

    .container-client-4-content img {
        margin-top: 50px;
        height: 125px;
    }

    .client4-content{
        height: 450px;
    }

    .client-4-footer-container{
        width: 350px;
    }

    .container-client-5{
        margin: 80px 140px 0px 30px;
    }

    .client-5-content-container{
        padding: 40px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .container-client-5-icon h3{
        font-size: 35px;
        font-weight: 750;
    }

    .container-client-5-icon p{
        font-size: 24px;
        font-weight: 600;
    }

    .client-6-conteiner1{
        margin: 20px 90px;
        width: 750px;
        height: auto;
        padding: 30px 0;
        border-radius: 25px;
    }

    .client-6-conteiner1 img{
        left: 670px;
        top: -70px;
        height: 150px;
    }

    .container-client-6 h1{
        font-size: 65px;
    }

    .client-6-footer p{
        margin: 10px 20px;
    }

    .client-6-block1 p {
        margin: 25px;
        line-height: 40px;
        font-size: 33px;
        font-weight: 600;
    }

    .client-6-conteiner2 p{
        margin: 25px;
    }
    
    .client-6-block1 h1 {
        margin: 13% 0 13% 30px;
        font-size: 100px;
    }

    .client-6-conteiner2{
        width: 600px;
    }

    .client-7-content-block1{ 
        margin: 30px 0 100px 90px;
        width: 600px;
        padding: 65px 45px;
        border-radius: 45px;
    }

    .client-7-content-block1 li{ 
        margin:0 0 0 20px;
        padding-left: 30px;
    }

    .client-7-content-block1 li:last-child{ 
        margin-top: 20px;
    }

    .client-7-content-block1 li span{ 
        font-weight: 500;
    }

    .container-client-7-content img:first-child {
        position: absolute;
        left: 640px;
        top: 50px;
        height: 90px;
    }

    .client-7-content-block2 img {
        height: auto;
        width: 850px;
    }

    .client-7-content-block2 p:first-child{
        font-size: 20px;
    }

    .container-client-7 .client3-condition{
        margin: 20px 0 0 90px;
    }

    .container-client-8{
        margin: 150px 90px 0 0px
    }

    .container-client-8-content{
        margin-left: 50px;
        justify-content: space-between;
    }
    
    .client-8-content-block1-men{
        height: 400px;
    }
    
    .container-client-8 h2{
        font-size: 45px;
        font-weight: 500;
    }
    
    .container-client-8 p {
        font-size: 32px;
        font-weight: 500;
    }
}

@media screen and (max-width: 1470px) and (max-device-width: 1470px) {
    .container-client-7-content img:first-child {
        left: 500px;
        top: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 1370px) and (max-device-width: 1370px){
    .container-client-7-content img:first-child {
        left: 400px;
        top: 40px;
        height: 60px;
    }
}

@media screen and (max-width: 1270px) and (max-device-width: 1270px) {
    .container-client-1{
        margin-left: 30px;
        width: 300px;
    }

    .container-main-Investors h1{
        margin-left: 60px;
    }

    li,
    .container-client-1 p{
        font-size: 20px;
    }

    .quantity-clients{
        margin-left: 30px;
    }

    .quantity-clients p{
        font-size: 20px;
    }

    .container-client-5-icon{
        margin-left: 20px;
    }

    .client-header img{
        margin-right: 30px;
    }

    .client-6-conteiner2{
        margin: 30px 0 0 10px;
    }

    .client-6-conteiner2{
        flex-flow: column;
        width: 46%;
    }

    .client-6-conteiner1 h1,
    .client-6-conteiner2 h1{
        margin: 45px 0 0 0;
        font-size: 65px;
    }

    .client-6-conteiner1 p,
    .client-6-conteiner2 p{
        margin: 30px 0 0 0;
        font-size: 20px;
    }

    .container-client-7-content img:first-child{
        display: none;
    }
}

@media screen and (max-width: 1090px) and (max-device-width: 1090px) {
    .container-main-Investors {
        margin-top: 160px;
    }

    .container-client-1 {
        width: 250px;
    }

    .container-client-3 img:nth-child(2n){
        margin: 65px 40px 0 10px;
        height: 90px;
    }

    .client-7-content-block2 img {
        height: 333px;
        margin-left: 15px;
    }

    .container-client-7-content img {
        left: 42%;
    }
}

@media screen and (max-width: 910px) and (max-device-width: 910px) {
    .container-clients-investor{
        display: flex;
        flex-flow: row wrap;
    }

    .subtitle{
        margin-left: 40px;
    }

    .investors_logo{
        position: absolute;
        top: 0px;
        right: 50px;
        height: 70px;
    }

    .container-client-1{
        margin: 10px auto;
        width: 55%;
    }

    .quantity-clients{
        margin: 90px auto 0 auto;
    }

    .container-client-3 h2{
        margin-left: 55px;
    }

    .container-client-3 p{
        margin-left: 57px;
        margin-top: 7px;
        font-size: 19px;
    }

    .client-4-footer-container{
        margin: 15px auto;
        width: 100%;
        min-height: 130px;
        height: auto;
    }

    .client-4-footer-container p{
        padding: 10px;
        text-align: start;
    }

    .container-client-4-content img{
        margin: 50px 0 0 0px;
        height: 125px;
    }

    .container-client-5-heder{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
    }

    .container-client-5{
        margin-top: 80px;
    }

    .content-block{
        margin: auto;
        margin-top: 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .container-client5-content{
        margin-left: 50px;
    }

    .client-5-content-container{
        width: 90%;
        padding: 20px;
    }

    .container-client-5-icon{
        margin: 20px 20px 0 0;
        width: calc(70% + 50px);
    }

    .container-client-7-content{
        flex-flow: column;
    }

    .client-7-content-block1,
    .client-7-content-block2{
        margin: auto;
        margin-top: 40px;
    }

    .client-header img{
        margin:0 0 0 20px;
    }

    .client-7-content-block2 img{
        height: 390px;
        margin-left: 22px;
    }

    .container-client-8-content{
        margin-left: 85px;
    }

    .container-client-6-footer{
        margin-left: -29px;
    }

    .container-client-8-content{
        margin-left: 0;
    }

    .container-client-3{
        margin-left: 5px;
    }

    .container_sales p{
        margin-left: 33px;
        font-size: 18px;
    }

    .container-client-3 div img{
        left: 12px;
    }
}

@media screen and (max-width: 880px) and (max-device-width: 880px) {
    .container-client-4-content img {
        height: 120px;
    }

    .container-client5-content{
        display: inline;
    }

    .client-4-footer-container {
        width: 111%;
    }

    .container-main-Investors h1 {
        margin-left: 41px;
    }

    .container-client-6-footer {
        flex-direction: column;
    }

    .client-6-conteiner2 {
        width: 400px
    }

    .container-client-6-footer {
        margin-left: 3px;
    }
}

@media screen and (max-width: 760px) and (max-device-width: 760px) {
    .investors_logo{
        top: -120px;
        right: 10px;
    }

    .container-client-3 img:nth-child(2n){
        margin: 55px 30px 0 0px;
        height: 60px;
        width: 5px;
        transform: rotate(90deg);
    }

    .container-client-3 div img{
        left: 20px;
        top: 50px;
        height: 60px;
    }

    .container-client-4-content {
        display: flex;
        flex-direction: column;
    }

    .container-client-4-content img {
        height: 170px;
    }

    .client-4-footer-container {
        width: 50%;
    }

    .client-4-footer-container p {
        text-align: center;
    }

    .client-5-content-container {
        width: 92%;
    }

    .container-client5-content {
        margin-left: 30px;
    }

    .container-client-7-content img:first-child {
        display: block;
        left: 70%;
        top: 60px;
        height: 80px;
    }

    .client-7-content-block2 img {
        height: 345px;
    }

    
    .container-client-7-content{
        position: relative;  
        width: 100%; 
    }

    .container-client-7-content img:first-child {
        position: absolute;
        left: 80%;
        top: 60px;
        height: 60px;
    }

    .client-7-content-block1 { 
        margin: 30px auto;
        width: 80%;
        padding: 15px;
    }

    .client-7-content-block2 {
        margin: 15px auto;
    }

    .client-7-content-block2 img {
        position: initial;
        height: 300px;
    }
}

@media screen and (max-width: 610px) and (max-device-width: 610px) {
    .container-main-Investors {
        margin-top: 120px;
        padding: 0;
    }

    .container-clients-investor {
        margin: 0;
        padding: 0;
    }

    .container-client-1 {
        margin: 10px auto;
        width: 85%;
    }

    li{
        font-size: 22px;
    }

    .quantity-clients {
        margin: 90px auto 0 auto;
        width: 300px;
    }

    .container-client-2 {
        margin: 50px 0 0 10px;
        width: 100%;
        padding: 0;
    }

    .business-model {
        position: relative;
        margin: auto;
        height: auto;
        padding: 10px 0 10px 10px;
        box-sizing: border-box;
    }

    .business-model button {
        margin: 20px auto 0 auto;
        width: 90%;
        font-size: 23px;
    }

    .container_sales{
        margin: auto;
    }

    .container-client-3{
        flex-flow: column;
    }

    .container-client-3 img:nth-child(2n){
        margin: -80px 0 -30px 75px;
        height: 100px;
        width: 5px;
        transform: none;
    }
    
    .container-client-3 div img{
        position: relative;
        left: 40px;
        top: 60px;
        height: 80px;
    }
    
    .container-client-3 div p{
        margin: 10px 0 0 75px;
        font-size: 25px;
    }

    .container-client-3 div p:last-child{
        margin: 20px 0 0 125px;
    }

    .client3-condition{
        width: 80%;
    }

    .container-client-3 h2{
        margin: 40px 0 0 100px;
        font-size: 45px;
    }

    .client-7-content-block2 img {
        margin: auto;
        width: 90%;
    }
}

@media screen and (max-width: 550px) and (max-device-width: 550px) {
    .business-model {
        margin: 10px auto;
        width: 95%;
    }

    .business-model img {
        left: 85%;
        height: 70px;
    }

    .container-clients-investor {
        flex-flow: column;
    }

    .container-client5-content {
        flex-direction: column;
    }

    .client-header {
        margin-top: 130px;
    }

    .client-5-content-container {
        width: 95%;
        margin-left: 8px;
    }

    .client-6-conteiner1 {
        position: relative;
        width: 350px;
        padding: 0 0 0 10px;
        height: 160px;
        margin: 10px
    }

    .client-6-conteiner1 img {
        display: none;
    }

    .client-6-conteiner2 {
        margin: 10px 0 0 -50px;
        width: 300px;
        padding: 10px;
    }

    .client-6-conteiner1 h1,
    .client-6-conteiner2 h1 {
        margin-left: -10px;
    }

    .container-client-7-content img:first-child {
        position: absolute;
        left: 80%;
        top: 0px;
        height: 60px;
    }

    .client-7-content-block2 img {
        margin-left: 20px;
    }

    .client-7-content-block2 p {
        font-size: 14px;
        margin-left: 4px;
    }

    .client-7-content-block2 span {
        margin-left: 16px;
    }

    .container-client-8-content {
        margin-left: -25px;
    }

    .container-client-8 h2 {
        font-weight: 100;
        width: 213px;
        font-size: 26px;
    }

    .container-client-6-footer {
        margin-left: 3px;
    }
}

@media screen and (max-width: 500px) and (max-device-width: 500px) {
    .economic_effect {
        margin: 20px 0;
        font-size: 15px;
    }

    .container-client-7-content,
    .client-7-content-block1 {
        margin: auto;
        width: 80%;
    }

    .container-client-8-content {
        flex-flow: column;
    }

    .ellipse2 {
        display: none;
    }

    .client-7-content-block2 img {
        width: 100%;
        margin-left: 8px;
    }

    .client-8-content-block1-men {
        height: 220px;
        margin-left: 80px;
    }

    .container-client-8 h2 {
        font-size: 26px;
        margin-left: 77px;
    }

    .container-client-8 p {
        font-size: 23px;
        margin-left: 80px;
    }
}

@media screen and (max-width: 450px) and (max-device-width: 450px) {
    .subtitle{
        margin-left: 15px;
    }

    .business-model {
        margin: 10px auto;
        margin-left: 10px;
        width: 89%;
    }

    .client-6-conteiner1 p,
    .client-6-conteiner2 p {
        margin: 30px 0 0 0;
        font-size: 18px;
    }

    .container-main-Investors h1 {
        margin-left: 10px;
        font-size: 36px;
    }

    .client-6-block1 h1 {
        font-size: 55px;
    }

    .container-client-2 {
        margin: 50px 0 0 0px;
    }

    .business-model img {
        left: 90%;
        height: 60px;
        top: -73px;
    }
    .container-client-1{
        width: 75%;
    }
    .client-8-content-block1{
        margin-left: 0;
    }
}

@media screen and (max-width: 390px) and (max-device-width: 390px) {
    .container-client-8 {
        margin-left: 0px;
    }

    .client-7-content-block2 img {
        margin-left: -13px;
    }

    .client-7-content-block1 {
        margin-left: -15px;
    }

    .client-7-content-block2-textBootom {
        margin-left: -20px;
    }

    .container-client-8-content {
        margin-left: -60px;
    }
}