.container-main-plugin {
    font-family: revert;
    font-weight: 400;
    line-height: 1.5;
}

.block1-plugin {
    position: relative;
    margin-top: 100px;
    display: flex;
    justify-content: end;
}

.block1-plugin img {
    position: absolute;
    top: -50px;
    left: 10%;
    height: 550px;
}

.block1-plugin-text1 {
    max-width: 750px;
    padding: 20px;
    background: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #eee;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

.block1-plugin a {
    color: #00B2F4;
}

.block2-plugin {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block2-plugin h2 {
    text-align: center;
}

.block2-plugin-text {
    margin-top: 50px;
    width: 70%;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

.block2-plugin-text img {
    height: 80px;
    position: relative;
    top: -60px;
    left: -60px;
}

.block2-plugin-text p {
    margin-top: -75px;
}

@media screen and (min-width: 2100px) and (max-width: 2600px) and (max-device-width: 2600px) {
    .block1-plugin img {
        height: 800px;
    }
    
    .block2-plugin-text {
        width: 60%;
    }
}

@media screen and (min-width: 1700px) and (max-width: 2100px) and (max-device-width: 2100px) {
    .block1-plugin {
        position: relative;
        margin-top: 200px;
        display: flex;
        justify-content: end;
    }

    .block1-plugin img {
        position: absolute;
        top: -130px;
        left: 10%;
        height: 590px;
    }
    
    .block1-plugin-text1 {
        max-width: 1000px;
        padding: 30px;
    }

    .block2-plugin-text {
        margin-top: 90px;
        width: 60%;
    }

    .block2-plugin-text *{
        font-size: 32px;
        line-height: 34.83px;
    }

    .block2-plugin-text p {
        margin: -95px 20px 35px 40px;
    }

    .block2-plugin-text img {
        height: 120px;
        position: relative;
        top: -70px;
        left: -90px;
    }
}

@media screen and (max-width: 1780px) and (max-device-width: 1780px) {
    .block1-plugin img {
        left: 7%;
    }
}

@media screen and (max-width: 1380px) and (max-device-width: 1380px) {
    .block1-plugin img {
        top: 0px;
        height: 500px;
    }
    
    .block1-plugin-text1 {
        max-width: 550px;
    }

    .block2-plugin-text {
        width: 850px;
    }
}

@media screen and (max-width: 1080px) and (max-device-width: 1080px) {
    .block1-plugin-text1 {
        max-width: 400px;
    }

    .block1-plugin img {
        top: 100px;
    }

    .container-step .screen {
        width: 80%;
    }

    .step-text {
        width: 80%;
    }

    .block2-plugin-text {
        width: 735px;
    }

    .block2-plugin-text img {
        height: 70px;
        position: relative;
        top: -52px;
        left: -60px;
    }
}


@media screen and (max-width: 920px) and (max-device-width: 920px) {
    .block1-plugin {
        align-items: center;
        flex-direction: column;
    }

    .block1-plugin img {
        left: auto;
        top: 0px;
    }

    .block1-plugin-text1 {
        margin: 650px 0 0 0%;
        max-width: 90%;
        padding: 20px;
    }

    .block2-plugin-text {
        width: 600px;
    }

    .block2-plugin-text {
        width: 705px;
    }

    .container-step .screen {
        width: 85%;
    }

    .step-text {
        width: 85%;
    }
}

@media screen and (max-width: 700px) {
    .block2-plugin-text {
        width: 540px;
    }
}

@media screen and (max-width: 620px) {
    .block1-plugin img {
        margin-top: -50px;
    }

    .block2-plugin-text {
        width: 340px;
    }
}

@media screen and (max-width: 470px) {
    .block1-plugin img {
        height: 300px;
        margin-left: 10px;
    }

    .block1-plugin-text1 {
        margin-top: 280px;
    }

    .container-step img {
        margin-left: 0px;
    }

    .container-step {
        display: block;
    }

    .step-text {
        width: 90%;
        margin-left: -20px;
    }

    .step-text p {
        width: initial;
        margin-left: 0px;
    }

    .step-text img {
        left: -34px;
    }

    .block2-plugin-text {
        width: 300px;
    }

    .container-step .screen {
        width: 90%;
        margin: 20px 0 0 -4%;
    }
}

@media screen and (max-width: 390px) {
    .block1-plugin-text1 {
        height: auto;
        width: 73%;
    }

    .block2-plugin-text {
        width: 280px;
    }

    .block2-plugin-text img {
        height: 65px;
        left: -47px;
    }

    .step-text {
        margin-left: 0;
        width: 90%;
    }

    .container-step .screen {
        margin: 20px 0 0 0%;
        width: 90%;
    }
}